body {
    font-family: Arial, sans-serif;
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 70%;
    padding: 10px;
    background-color:white ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:50px;
    
    
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    width:auto;
    display: inline-block;
    margin-right:100px;
    margin-left: 100px;
}
.forn-group
{
    margin-bottom: 15px;
    width:auto;
    display: inline-block;
    
    margin-left: 103px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 95%;
    padding: 10px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.b
{
margin-right:120px;

display: inline-block;
}