body{
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: xx-large;}
.large{
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right,rgb(227, 12, 12),rgb(0, 85, 128)); }
.container{
  border-top: solid white 0px;
  position: absolute;
  top: 0;
  width: 80%;
  height: 95vh;
  animation: animate 15s ease-in-out infinite;
  background-size: 100% auto;
  background-repeat: no-repeat;}
.upperbar{
  margin-left: 7px;
  margin-top: 7px;
  width: 100%;
  height: 20%;
}
#logo1{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 5%;

  border-radius: 50%;
  overflow: hidden;
}
#Register{
  position: absolute;
  right: 15%;
  top: 7%;}
#help{
  position: absolute;
  right: 33%;
  top: 7%;
color:rgb(125, 76, 170);
}
#login:hover{
  text-decoration: underline;}
#Register:hover{
  text-decoration: underline;}
#help:hover{
  text-decoration: underline;}
#login,#Register,#help{
  font-size: x-large;
  color: rgb(248, 245, 245);
  text-decoration: none;}
#login{
  position: absolute;
  right: 10%;
  top: 7%;
  right: 2%;}
.details{
 color:white;
 font-weight: 100;
 font-size: 400%;
 font-stretch: expanded;
 position: absolute;
 top: 60%;
 left: 45%;}

.locationicon{
 position: relative;
 right: 100px;
 bottom: 1px;
 height: 73px;
 border-radius: 7px;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
 border: solid white 2px;}
.dropdown1{
 width: 300px;
 outline: none;
 height: 75px;
 font-size: x-large;
 position: relative;
 right: 120px;
 bottom: 30px;
 text-align: center;
 border-radius: 7px;
 border-top-left-radius: 0px;
 border-bottom-left-radius: 0px;
 border: solid white 2px;}
.locationselect{
 position: relative;
 right: 70px;
 bottom: 50px;}
.searchicon{
 height: 74px;
 position: relative;
 bottom: 0px;
 border-bottom-left-radius: 7px;
 border-top-left-radius: 7px;}
.searchinput{
 width: 600px;
 height: 74px;
 font-size: x-large;
 position: relative;
 right: 19px;
 bottom: 29px;
 border: solid white 2px;
 border-top-right-radius: 7px;
 border-bottom-right-radius: 7px;
 outline: none;}
.searchservice{
 position: relative;
 bottom: 157px;
 left: 270px;}
@keyframes animate {
  0%,100%{
     background-image: url('1.jpeg');
  }
  33%{
     background-image: url('2.jpeg');
  }
  66%{
     background-image: url('3.jpeg');
  }
  
  }
.homeservices{
 color: black;
 position: absolute;
 top: 120%;
 left: 23%;
 border: solid black 5px;
 height: 150px;
 width: 60%;
}
.headingh1{
 position: absolute;
 left: 43%;
 display: inline;
 font-size: 60px;
 font-weight:900;
}
.vishal{

font-size:30px;
position: absolute;
left: 20px;
color:rgb(223, 216, 208);


}